# 2. Clusturing

### a)

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split


def cos_similarity(xbar, ybar):
    """
    Finding the K nearest neighbors
    """
    D_hat = np.linalg.norm(xbar)
    x_hat = np.linalg.norm(ybar)
    
    similarity = np.dot(xbar,ybar)/(D_hat * x_hat)
    distance = 1 - similarity

    return distance

In [2]:
pwd

'C:\\Users\\Milin Desai'

#### B) Data Importing

In [3]:
matrix = pd.read_csv(r'C:\Users\Milin Desai\Downloads\newsgroups5/matrix.txt', header = None)
classes = pd.read_csv(r'C:\Users\Milin Desai\Downloads\newsgroups5/classes.txt', delim_whitespace=1, index_col = 0)
terms = pd.read_csv(r'C:\Users\Milin Desai\Downloads\newsgroups5/terms.txt', header = None)

Using Transpose

In [4]:
news_groups = matrix.T

In [5]:
matrix.shape

(9328, 2500)

In [6]:
classes.shape

(2500, 12)

In [7]:
terms.shape

(9328, 1)

In [8]:
terms.head(5)

        0
0      aa
1   aargh
2   aaron
3  aaronc
4      ab

In [9]:
matrix.head(5)

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
classes.head(5)

,Five,Categories:,windows,"(0),",crypt,"(1),",christian,"(2),",hockey,"(3),",forsale,(4)
%,,,,,,,,,,,,
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We need to correctly formate the news group data set

In [11]:
classes = classes.iloc[:, :1]

In [12]:
classes.head(5)

   Five
%
0     0
1     1
2     1
3     1
4     2

In [13]:
matrix = matrix.iloc[:, :1]

In [14]:
matrix.head(5)

   0
0  0
1  0
2  0
3  0
4  0

In [15]:
terms = terms.iloc[:, :1]

In [16]:
terms.head(5)

        0
0      aa
1   aargh
2   aaron
3  aaronc
4      ab

In [17]:
classes.rename(columns = {'Five':'Subset of five categories: windows (0), crypt (1), christian (2), hockey (3), forsale (4)'}, inplace = True)

In [18]:
classes.head(5)

   Subset of five categories: windows (0), crypt (1), christian (2), hockey (3), forsale (4)
%
0                                                  0
1                                                  1
2                                                  1
3                                                  1
4                                                  2

Data splitting 80/20

In [19]:
classes_arr = np.array(classes)

In [20]:
dt_tr, dt_ts, lab_dttr, lab_dtts = train_test_split(news_groups, classes, test_size=0.2, random_state = 42)

In [21]:
print(dt_tr.shape)

(2000, 9328)

In [22]:
print(dt_ts.shape)

(500, 9328)

In [23]:
print(lab_dttr.shape)

(2000, 1)

In [24]:
print(lab_dtts.shape)

(500, 1)

D)

In [25]:
from sklearn.metrics import completeness_score, homogeneity_score

In [26]:
np_dt_tr = np.array(dt_tr)

In [27]:
import kMeans

In [28]:
cosine_centroids, cosine_clusters = kMeans.kMeans(np_dt_tr, 5, cos_similarity, kMeans.randCent)

In [29]:
cosine_clusters = pd.DataFrame(cosine_clusters, columns = ['Cluster', 'MinDistance**3'])
cosine_centroids = pd.DataFrame(cosine_centroids, columns=terms[0])

In [30]:
print(cosine_clusters.loc[cosine_clusters.Cluster == 4.0].shape)

(6, 2)

In [31]:
print(cosine_clusters.loc[cosine_clusters.Cluster == 3.0].shape)

(0, 2)

In [32]:
print(cosine_clusters.loc[cosine_clusters.Cluster == 2.0].shape)

(773, 2)

In [33]:
print(cosine_clusters.loc[cosine_clusters.Cluster == 1.0].shape)

(0, 2)

In [34]:
print(cosine_clusters.loc[cosine_clusters.Cluster == 0.0])

      Cluster  MinDistance**3
0         0.0        0.440426
1         0.0        0.600493
2         0.0        0.676524
3         0.0        0.523850
4         0.0        0.558270
...       ...             ...
1991      0.0        0.529930
1993      0.0        0.588171
1994      0.0        0.621447
1995      0.0        0.544612
1999      0.0        0.694517

[1221 rows x 2 columns]

In [35]:
lab_dttr.reset_index(drop = True, inplace = True)

In [36]:
L_target = np.array(lab_dttr.iloc[:, 0])
forcast = np.array(cosine_clusters.Cluster)
print(forcast.shape, L_target.shape)

(2000,) (2000,)

In [37]:
L_target

array([0, 2, 2, ..., 3, 4, 0], dtype=int64)

In [38]:
homogeneity_score(L_target, forcast)

0.3081642870028716

In [39]:
completeness_score(L_target, forcast)

0.7226989536670834

### E)

In [41]:
def Cluster_pulse(xbar, ybar):
    """ find K nearest neighbors of an instance x among the instances in D """
    
    D_hat = np.linalg.norm(xbar)
    x_hat = np.linalg.norm(ybar)
    
    similarity = np.dot(xbar,ybar)/(D_hat * x_hat)
    distance = 1 - similarity
    
    idx = np.argsort(distance) # sorting
    # return the indexes of K nearest neighbors
    return idx[0], max(similarity)
cluster_centroids = np.array(cosine_centroids)

In [42]:
xbar = np.array(cosine_centroids)

In [43]:
np_dt_ts = np.array(dt_ts)

In [44]:
forcast_ts_class = []

In [45]:
for i in range(len(np_dt_ts)): 
    cluster_class, similarity = Cluster_pulse(cluster_centroids, np_dt_ts[i])

    forcast_ts_class.append(cluster_class)
    print("%-12i%-12i   %-12f" % (i, cluster_class, similarity))

0           3              0.001842
1           3              0.004029
2           1              0.002492
3           1              0.002706
4           3              0.050270
5           3              0.001806
6           1              0.002407
7           1              0.003035
8           3              0.001715
9           1              0.003612
10          1              0.000327
11          3              0.005570
12          1              0.003853
13          3              0.001988
14          3              0.003786
15          3              0.003537
16          3              0.002461
17          3              0.003829
18          3              0.004553
19          3              0.001901
20          3              0.003450
21          3              0.003633
22          1              0.004045
23          1              0.001608
24          1              0.003514
25          3              0.003876
26          3              0.000751
27          1              0.003278
28          1              0.003166
29          1              0.001161
30          1              0.002496
31          1              0.002567
32          3              0.001826
33          1              0.002248
34          3              0.002763
35          3              0.002460
36          1              0.002579
37          3              0.003353
38          3              0.002441
39          1              0.001767
40          3              0.003057
41          3              0.003515
42          3              0.002485
43          3              0.001847
44          1              0.002948
45          1              0.003183
46          1              0.004957
47          3              0.003426
48          1              0.002261
49          3              0.002074
50          1              0.004269
51          1              0.006342
52          3              0.004132
53          1              0.000437
54          3              0.002637
55          1              0.001181
56          1              0.003367
57          3              0.002590
58          1              0.002028
59          3              0.004170
60          3              0.002998
61          3              0.004898
62          1              0.002689
63          3              0.004444
64          1              0.001490
65          1              0.008393
66          1              0.002162
67          3              0.003851
68          3              0.004625
69          1              0.001675
70          3              0.002966
71          1              0.003288
72          1              0.001479
73          3              0.004699
74          3              0.003695
75          3              0.001469
76          3              0.002191
77          1              0.002254
78          1              0.003900
79          1              0.002601
80          3              0.002918
81          1              0.002590
82          1              0.001865
83          1              0.002904
84          3              0.002776
85          1              0.001141
86          1              0.003189
87          1              0.002775
88          1              0.002695
89          3              0.004099
90          1              0.004821
91          1              0.001947
92          1              0.003359
93          3              0.003721
94          1              0.002102
95          1              0.001682
96          3              0.002687
97          3              0.001794
98          1              0.003404
99          3              0.002317
100         3              0.001642
101         1              0.002013
102         3              0.004796
103         3              0.007123
104         3              0.004208
105         1              0.003102
106         3              0.002889
107         1              0.002195
108         3              0.005003
109         3              0.004899
110         3              0.002338
111         3              0.002179
112         3              0.003273
113         1              0.002034
114         1              0.002285
115         3              0.003364
116         3              0.002527
117         1              0.002975
118         3              0.003846
119         1              0.003697
120         3              0.002541
121         1              0.002674
122         1              0.002826
123         3              0.002573
124         3              0.000850
125         3              0.003857
126         3              0.003810
127         3              0.001316
128         3              0.001535
129         3              0.001827
130         1              0.002256
131         3              0.001583
132         3              0.004863
133         3              0.004125
134         1              0.004052
135         1              0.002325
136         3              0.005315
137         1              0.003052
138         1              0.001047
139         1              0.003024
140         3              0.002060
141         3              0.004088
142         1              0.003307
143         3              0.007930
144         3              0.005130
145         1              0.001106
146         3              0.003770
147         3              0.001248
148         3              0.002599
149         1              0.000925
150         3              0.006332
151         1              0.002048
152         3              0.011760
153         1              0.001545
154         1              0.003174
155         1              0.001435
156         1              0.003821
157         3              0.002190
158         1              0.004643
159         1              0.003019
160         3              0.002962
161         1              0.002001
162         1              0.003861
163         1              0.002121
164         1              0.001347
165         1              0.002628
166         1              0.003818
167         1              0.001961
168         3              0.005861
169         3              0.001007
170         3              0.002128
171         3              0.001744
172         1              0.002832
173         1              0.002959
174         3              0.003416
175         1              0.000753
176         1              0.002613
177         3              0.001170
178         3              0.004527
179         1              0.001027
180         3              0.001025
181         1              0.003670
182         1              0.003227
183         1              0.002063
184         1              0.003266
185         3              0.003771
186         1              0.001620
187         1              0.003847
188         1              0.002680
189         1              0.001729
190         1              0.001826
191         3              0.001579
192         1              0.003804
193         3              0.001016
194         1              0.002672
195         3              0.004984
196         1              0.002366
197         3              0.001339
198         3              0.003874
199         1              0.003122
200         3              0.004269
201         1              0.002845
202         1              0.002645
203         3              0.000920
204         1              0.001697
205         1              0.005934
206         3              0.001658
207         3              0.001501
208         3              0.003454
209         3              0.004810
210         3              0.001831
211         1              0.003270
212         3              0.001937
213         3              0.002985
214         3              0.003915
215         1              0.000723
216         3              0.004556
217         1              0.002314
218         1              0.001135
219         1              0.002261
220         3              0.002536
221         3              0.002583
222         3              0.002260
223         1              0.001132
224         3              0.002572
225         1              0.002357
226         1              0.002819
227         3              0.003682
228         1              0.001877
229         1              0.001735
230         1              0.003120
231         3              0.002346
232         1              0.002158
233         1              0.002386
234         1              0.001505
235         3              0.004355
236         3              0.003015
237         3              0.002851
238         1              0.002834
239         3              0.004252
240         3              0.002356
241         3              0.002778
242         3              0.002913
243         3              0.002667
244         3              0.003395
245         3              0.004112
246         3              0.003181
247         3              0.003078
248         3              0.001863
249         1              0.001511
250         3              0.002676
251         3              0.002710
252         1              0.003420
253         3              0.002971
254         3              0.002299
255         1              0.002596
256         1              0.002490
257         3              0.003309
258         3              0.003692
259         3              0.001289
260         3              0.006720
261         1              0.002990
262         3              0.005524
263         3              0.003285
264         3              0.002292
265         1              0.003226
266         1              0.003220
267         1              0.001917
268         3              0.004322
269         3              0.002000
270         3              0.005028
271         3              0.003772
272         1              0.001089
273         1              0.004038
274         1              0.003112
275         1              0.002557
276         3              0.001831
277         1              0.002021
278         1              0.004468
279         3              0.002208
280         3              0.002847
281         1              0.001877
282         1              0.001202
283         1              0.002880
284         3              0.002644
285         1              0.004193
286         1              0.001263
287         1              0.001932
288         1              0.003918
289         3              0.004009
290         1              0.002667
291         1              0.002434
292         3              0.003133
293         1              0.002403
294         3              0.002911
295         1              0.001957
296         1              0.002599
297         3              0.004729
298         1              0.002656
299         3              0.001471
300         3              0.005524
301         3              0.003932
302         3              0.002040
303         1              0.001808
304         1              0.003288
305         3              0.002524
306         3              0.002538
307         3              0.004526
308         1              0.001715
309         3              0.001502
310         3              0.003029
311         1              0.002010
312         1              0.003635
313         3              0.002398
314         3              0.002618
315         1              0.000519
316         3              0.002722
317         1              0.002155
318         1              0.003155
319         3              0.001702
320         3              0.003679
321         1              0.002647
322         1              0.001718
323         1              0.002232
324         3              0.002935
325         3              0.003847
326         1              0.001730
327         1              0.002919
328         3              0.004675
329         3              0.003801
330         3              0.003382
331         1              0.001884
332         3              0.002292
333         1              0.003367
334         3              0.004075
335         1              0.001421
336         3              0.002419
337         4              0.007153
338         3              0.001327
339         3              0.002538
340         1              0.003697
341         1              0.002301
342         3              0.004274
343         3              0.001041
344         1              0.002539
345         1              0.003052
346         3              0.004226
347         1              0.002531
348         3              0.003568
349         3              0.004121
350         1              0.002958
351         1              0.003574
352         1              0.001283
353         1              0.001455
354         1              0.002864
355         1              0.002105
356         1              0.002431
357         1              0.002909
358         1              0.002524
359         1              0.001366
360         1              0.001667
361         3              0.002538
362         1              0.001554
363         1              0.003388
364         3              0.002244
365         3              0.001565
366         1              0.004100
367         1              0.002193
368         1              0.001254
369         1              0.001693
370         1              0.001627
371         3              0.003061
372         1              0.003387
373         1              0.002601
374         1              0.001975
375         1              0.000807
376         1              0.002478
377         3              0.003567
378         3              0.004333
379         1              0.001733
380         1              0.002556
381         3              0.002400
382         1              0.002055
383         1              0.003398
384         1              0.002079
385         1              0.003759
386         3              0.001876
387         3              0.004710
388         3              0.003056
389         3              0.002589
390         1              0.002939
391         1              0.004476
392         1              0.001178
393         1              0.002481
394         3              0.001903
395         3              0.002957
396         3              0.001174
397         3              0.002388
398         3              0.001862
399         1              0.003136
400         3              0.004426
401         1              0.003398
402         1              0.001316
403         1              0.002811
404         3              0.005503
405         3              0.002591
406         4              0.003642
407         1              0.002146
408         3              0.004271
409         3              0.002460
410         1              0.002387
411         1              0.002273
412         1              0.001702
413         1              0.003648
414         3              0.002235
415         3              0.005013
416         1              0.003398
417         1              0.003717
418         3              0.004989
419         3              0.003429
420         3              0.002744
421         3              0.001513
422         3              0.003125
423         3              0.003630
424         1              0.003918
425         1              0.003643
426         1              0.003256
427         3              0.002003
428         3              0.002819
429         1              0.002741
430         1              0.003657
431         3              0.004006
432         1              0.002153
433         1              0.001818
434         3              0.002132
435         1              0.002522
436         1              0.003297
437         1              0.001901
438         3              0.005318
439         3              0.002557
440         3              0.003248
441         3              0.002092
442         3              0.005904
443         1              0.001461
444         1              0.002223
445         1              0.002452
446         1              0.001678
447         1              0.002560
448         3              0.002903
449         1              0.003634
450         1              0.003208
451         3              0.003109
452         1              0.003388
453         1              0.002576
454         1              0.002105
455         3              0.005102
456         1              0.003050
457         3              0.002210
458         3              0.002386
459         3              0.003020
460         3              0.003514
461         1              0.003552
462         3              0.002548
463         3              0.004287
464         1              0.001109
465         3              0.002238
466         3              0.003395
467         3              0.002190
468         3              0.002359
469         1              0.002233
470         3              0.002625
471         3              0.004168
472         1              0.003229
473         3              0.004729
474         3              0.003825
475         1              0.005335
476         1              0.004461
477         1              0.586375
478         1              0.002543
479         1              0.002813
480         3              0.003118
481         1              0.001430
482         1              0.002404
483         1              0.002963
484         3              0.003121
485         1              0.001395
486         3              0.000968
487         1              0.001447
488         1              0.002930
489         3              0.003565
490         1              0.002251
491         1              0.003394
492         1              0.003087
493         1              0.000803
494         1              0.002017
495         1              0.002338
496         1              0.001979
497         3              0.001909
498         3              0.002550
499         1              0.001973

In [46]:
ts_aim = np.array(lab_dtts.iloc[:, 0])

In [50]:
forcast_ts = np.array(forcast_ts_class)
completeness_score(ts_aim, forcast_ts)

0.03539307256937877

In [51]:
homogeneity_score(ts_aim, forcast_ts)

0.015804917932517967